<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>nuovo libro</title>
<link rel="stylesheet" href="/css/li.css">
</head>
<body>

   <h1>Aggiungi Libro</h1>
    <form th:action="@{/admin/formCreaLibro}" method="POST" th:object="${libro}" enctype="multipart/form-data">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        
         <div class="form-group">
            <label>titolo:</label>
            <span><input type="text" th:field="${libro.titolo}"></span>
            <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
        </div>

        <div class="form-group">
            <label>anno:</label>
            <span><input type="text" th:field="${libro.anno}"></span>
            <span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
        </div>
        
        <div class="form-group">
            <label>Autori:</label>
    <select multiple th:field="*{autori}" class="form-control">
        <option th:each="autore : ${listaAutori}"
                th:value="${autore.id}"
                th:text="${autore.cognome}">
        </option>
    </select>
    <span th:if="${#fields.hasErrors('autori')}" th:errors="*{autori}"></span>        </div>
            
	<div class="form-group">
  <span>Foto del libro:</span> <input type="file"
					id="imageFile" name="imageFile" >
				
                
</div>
        <div class="form-group">
            <span><button type="submit">Conferma</button></span>
        </div>
</form>
</body>
</html>