<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Modifica Autore</title>
<link rel="stylesheet" href="/css/autore.css">
</head>
<body>

<header>

	
		<div class="header-links">
		    <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
	
	</header>
	
	<h1>Modifica Autore</h1>
	<main>
	<div class="autore-info">
	<form th:action="@{/admin/formModificaAutore/{id}}" method="POST" >
	<input type="hidden" name="id" th:value="${autore.id}" />
  		
		<div class="info-item">
		<label>
			 <span><a>Nome:</a> <span><input type="text" name="nuovoNome" placeholder="Nuovo nome" th:value="${autore.nome}" /></span>
		   
		   </label>
</div><div class="info-item">
		<label>
			<a>Cognome:</a> <span><input type="text" name="nuovoCognome" placeholder="Nuovo cognome" th:value="${autore.cognome}" /></span>

		  </label>
</div><div class="info-item">
		<label>
			<a>Nazionalita:</a> <span><input type="text" name="nuovaNazionalita" placeholder="Nuovo nazionalita" th:value="${autore.nazionalita}" /></span>
		  
		</div><div class="info-item">
		<label>
			<a>Data di nascita:</a> <span><input type="text" name="nuovaDataNascita" placeholder="Nuovo data nascita" th:value="${autore.dataNascita}" /></span>
		
		</div><div class="info-item">
		<label>
			<a>Data  di morte:</a> <span><input type="text" name="nuovaDataMorte" placeholder="Nuovo data morte" th:value="${autore.dataMorte}" /></span>
		
		
		
		
		
			<span><button type="submit">Conferma</button></span>
		</label></div>
	</form>
	</div>
	</main>

</body>
</html>