<form th:action="@{/admin/formModificaAutore/{id}(id=${autore.id})}" method="POST" >
    <div class="info-item">
        <label>Nome:
            <input type="text" name="nome" placeholder="Nuovo nome" th:value="${autore.nome}" />
        </label>
    </div>
    <div class="info-item">
        <label>Cognome:
            <input type="text" name="cognome" placeholder="Nuovo cognome" th:value="${autore.cognome}" />
        </label>
    </div>
    <div class="info-item">
        <label>Nazionalità:
            <input type="text" name="nazionalita" placeholder="Nuova nazionalita" th:value="${autore.nazionalita}" />
        </label>
    </div>
    <div class="info-item">
        <label>Data di nascita:
            <input type="date" name="dataNascita" th:value="${autore.dataNascita}" />
        </label>
    </div>
    <div class="info-item">
        <label>Data di morte:
            <input type="date" name="dataMorte" th:value="${autore.dataMorte}" />
        </label>
    </div>
    <button type="submit">Conferma</button>
</form>
