<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>pagina autori admin</title>
<link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css" />
<link rel="stylesheet" href="/css/paginaAutori1.css" />
</head>
<body>

	<!-- Navbar -->
		  <header class="navbar">
		    <a class="logo" th:href="@{/}">Siw Books</a>
		    <nav class="nav-links">
		      <a href="paginaLibri">Libri</a>
		      <a href="paginaAutori">Gli autori</a>

		      <!-- Login se non autenticato -->
		      <a th:if="${credentials == null}" href="/login">Login</a>

		      <!-- Logout se autenticato -->
			  <a th:if="${credentials != null}" th:href="@{'/user/' + ${credentials.id}}">Profilo</a>
		    </nav>
		  </header>
    
     <h1>Autori</h1>
 
    <div class="container">
        <div th:if="${autori == null || autori.isEmpty()}">Non ci sono autori nel sistema</div>
        <div th:each="autore : ${autori}" class="autore-item">
            <a th:href="@{'/autore' + ${autore.id}}" th:text="${autore.cognome}"></a>
            <a th:href="@{'/admin/formModificaAutore' + '/' + ${autore.id}}">Aggiorna</a>
            <a th:href="@{'/admin/cancellaAutore' + '/' + ${autore.id}}">Cancella</a>
            
				</div>

</body>
</html>