<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>pagina autori admin</title>
<link rel="stylesheet" href="/css/paginaAutori1.css" />
</head>
<body>

<header>
	<div class="header-links">
           <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    
     <h1>Autori</h1>
 
    <div class="container">
        <div th:if="${autori == null || autori.isEmpty()}">Non ci sono autori nel sistema</div>
        <div th:each="autore : ${autori}" class="autore-item">
            <a th:href="@{'/autore' + ${autore.id}}" th:text="${autore.cognome}"></a>
            <a th:href="@{'/admin/formModificaAutore' + '/' + ${autore.id}}">Aggiorna</a>
            <a th:href="@{'/admin/cancellaAutore' + '/' + ${autore.id}}">Cancella</a>
            
				</div>

</body>
</html>