<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>pagina recensioni admin</title>
<link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css" />
<link rel="stylesheet" href="/css/paginaRecensioni1.css" />
</head>
<body>
	<!-- Navbar -->
	  <header class="navbar">
	    <a class="logo" th:href="@{/}">Siw Books</a>
	    <nav class="nav-links">
	      <a href="paginaLibri">Libri</a>
	      <a href="paginaAutori">Gli autori</a>

	      <!-- Login se non autenticato -->
	      <a th:if="${credentials == null}" href="/login">Login</a>

	      <!-- Logout se autenticato -->
		  <a th:if="${credentials != null}" th:href="@{'/user/' + ${credentials.id}}">Profilo</a>
	    </nav>
	  </header>
    
     <h1>Recensioni</h1>
 
    <div class="container">
        <div th:if="${recensioni == null || recensioni.isEmpty()}">Non ci sono recensioni nel sistema</div>
        <div th:each="recensione : ${recensioni}" class="recensione-item">
            <a th:href="@{'/recensione' + ${recensione.id}}" th:text="${recensione.testo}"></a>
            
           <a th:href="@{'/recensioni/' + ${recensione.id} + '/elimina'}">Cancella</a>
            
				</div>

</body>
</html>