<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>homepage admin</title>
<link rel="stylesheet" href="/css/adminIndex.css" />
</head>
<body>
<header>
<div class="header-links">
           <a href="paginaLibri">Libri</a>
           
           <a href="paginaAutori">Autori</a>
            <a href="/logout">Logout</a>
        </div>
	
	</header>
	
	  <section class="quadrant" id="quadrant1">
        <a href="/admin/indexLibro" class="image-link">
            <span class="image-text">Gestione libri</span>
        </a>
    </section>
    
    <section class="quadrant" id="quadrant2">
        <a href="/admin/indexAutore" class="image-link">
            <span class="image-text">Gestione autori</span>
        </a>
    </section>
    
    <section class="quadrant" id="quadrant3">
        <a href="/admin/indexRecensione" class="image-link">
            <span class="image-text">Gestione recensioni</span>
        </a>
    </section>
</body>
</html>