<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="ISO-8859-1" />
  <title>Gestione Autore</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css" />
    	 <link rel="stylesheet" th:href="@{/css/footer.css}" href="/footer.css" />
  <link rel="stylesheet" href="/css/adminIndex.css" />
</head>
<body>

<header>
  <div class="header-links">
    <a href="/logout">Logout</a>
  </div>
</header>

<section class="quadrant" id="quadrant1">
  <a href="/admin/formCreaAutore" class="image-link">
    <span class="image-text">aggiungi autore</span>
  </a>
</section>

<section class="quadrant" id="quadrant2">
  <a href="/admin/gestisciAutori" class="image-link">
    <span class="image-text">modifica autore</span>
  </a>
</section>

</body>
</html>
