<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Siw Books - Registrazione</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css" />
  <link rel="stylesheet" th:href="@{/css/footer.css}" href="/footer.css" />
  <link rel="stylesheet" th:href="@{/css/login.css}" href="/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <a class="logo" th:href="@{/}">Siw Books</a>
  </header>

  <form class="login-card" th:action="@{/registrazione}" method="POST">
    <h3>Registrazione</h3>

    <span class="error-message" th:text="${messaggioErrore}" th:if="${messaggioErrore != null}"></span>

    <label for="username">Username</label>
    <input id="username" type="text" required th:field="*{credentials.username}" placeholder="Inserisci username" />
    <span class="error-message" th:if="${#fields.hasErrors('credentials.username')}" th:errors="*{credentials.username}"></span>

    <label for="password">Password</label>
    <input id="password" type="password" required th:field="*{credentials.password}" placeholder="Inserisci password" />
    <span class="error-message" th:if="${#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}"></span>

    <label for="name">Nome</label>
    <input id="name" type="text" required th:field="*{user.name}" placeholder="Inserisci nome" />
    <span class="error-message" th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}"></span>

    <label for="surname">Cognome</label>
    <input id="surname" type="text" required th:field="*{user.surname}" placeholder="Inserisci cognome" />
    <span class="error-message" th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}"></span>

	<label for="email">Email</label>
	<input id="email" name="email" type="email" required placeholder="Inserisci email" />
    <span class="error-message" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></span>

    <button type="submit">Conferma</button>

    <p>Hai già un account? <a th:href="@{/login}">Accedi qui</a></p>
  </form>
</body>
</html>
