<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Siw Books - Login</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css" />
  <link rel="stylesheet" th:href="@{/css/footer.css}" href="/footer.css" />
  <link rel="stylesheet" th:href="@{/css/login.css}" href="/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
	
	<!-- Navbar -->
	  <header class="navbar">
	    <a class="logo" th:href="@{/}">Siw Books</a>
		</header>
  <form class="login-card" th:action="@{/login}" method="post">
    <h3>Login</h3>

    <label for="username">Username</label>
    <input id="username" name="username" type="text" required autocomplete="username" />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required autocomplete="current-password" />

    <span class="error-message" th:if="${param.error != null}">Username o password errati</span>

    <button type="submit">Accedi</button>

    <p>Non hai ancora un account? <a th:href="@{/formRegistrazione}">Registrati qui</a></p>
  </form>
  

</body>
</html>
