<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Siw Books - Homepage</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" th:href="@{/css/navbar.css}" href="/navbar.css" />
  	 <link rel="stylesheet" th:href="@{/css/footer.css}" href="/footer.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <header class="navbar">
    <a class="logo" th:href="@{/}">Siw Books</a>
    <nav class="nav-links">
      <a href="paginaLibri">Libri</a>
      <a href="paginaAutori">Gli autori</a>

      <!-- Login se non autenticato -->
      <a th:if="${credentials == null}" href="/login">Login</a>

      <!-- Logout se autenticato -->
	  <a th:if="${credentials != null}" th:href="@{'/user/' + ${credentials.id}}">Profilo</a>
    </nav>
  </header>

  <!-- Hero / Benvenuto -->
  <section class="hero">
    <div class="hero-content">
      <h1>Benvenuto su Siw Books</h1>
      <p>
		Il tuo spazio online per scoprire, leggere e condividere la passione per i libri.

		Qui puoi esplorare un vasto catalogo di titoli di ogni genere, trovare informazioni dettagliate e leggere le recensioni di altri lettori come te. Vuoi dire la tua? Assegna una valutazione, scrivi la tua recensione e aiuta la community a scegliere il prossimo libro da leggere.
      </p>
      <p>
		Che tu sia un lettore appassionato o semplicemente curioso, [Nome Sito] è il luogo perfetto per immergerti nel mondo della lettura e scoprire nuove storie che ti emozionano.

		Inizia subito la tua avventura letteraria!
      </p>
    </div>
  </section>

  <!-- Immagine centrale -->
  <section class="centered-photo">
    <img src="immagini/hbooks1.jpg" alt="Libri impilati su un tavolo">
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>SIW BOOKS &copy; 2025</p>
  </footer>

</body>
</html>
