<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Siw Books - homepage</title>
</head>
<link rel="stylesheet" href="/css/base.css" />
<body>
<header>
	
	  <div class="header-links3">
            <a href="paginaLibri">Libri</a>
            <a href="paginaAutori">Gli autori</a>
<!--             <a href="paginaRecensioni">Recensioni</a> -->
            <a href="formRegistrazione">Registrazione</a>
            <a href="/login">Login</a>
        </div>
	
	</header>
	
	<div class="titolo">
  <h1> Siw Books  </h1>
 <p> Benvenuti nella nostra pagina siwBooks!
Un luogo dove le storie prendono vita e le idee trovano casa. Scopri il nostro assortimento di libri per ogni eta e passione,
 tra grandi classici, novita editoriali e titoli indipendenti. 
 Inoltre diamo spazio alle voci degli autori di ogni epoca e provenienza, da penne celebri a talenti emergenti.
Che tu sia un lettore appassionato o in cerca di ispirazione, qui troverai il tuo prossimo libro preferito.
 </p>

</div>

<div class="centered-photo">
            <img src="immagini/hbooks1.jpg" alt="Descrizione della foto">
            
        </div>
<footer>
<p> SIW BOOKS 2025</p> 

</footer>
</body>
</html>